@use "@styles/variables" as vars;

.root {
  z-index: vars.$z-index-categories;
  width: 100%;
  height: 100px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: linear-gradient(
      to bottom,
      rgb(41 46 57) 0%,
      rgb(41 46 57 / 0%) 100%
    );
    pointer-events: none;
  }
}

.categories {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  gap: 4px;
  padding: 10px 0 10px 16px;
  justify-content: center;
  align-items: center;
  background-color: #292e39;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox remove scrollbar */
  -ms-overflow-style: none; /* Internet Explorer & Edge remove scrollbar */

  &::-webkit-scrollbar {
    /* Chrome, Safari & Opera remove scrollbar */
    display: none;
  }
}

.category {
  height: 34px;
  display: flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 30px;
  color: #fff;
  background-color: #191b1f;
  font-size: 12px;
  text-align: center;
  font-weight: 500;

  &:last-child {
    margin-right: 16px;
  }
}

.active {
  background-color: #ff5733;
  font-weight: bold;
}
